<div class="bom-container">
    <div id="main-forms-area">

        <div id="search-bill-of-materials" class="form-container">
            {% include "bill_of_materials/bom_partials/advanced_search_form.html" %}
        </div>

        <div id="general-search-bill-of-materials" class="form-container">
            {% include "bill_of_materials/bom_partials/general_search_form.html" %}
        </div>

        <div id="upload-bill-of-materials" class="form-container">
            {% include "bill_of_materials/bom_partials/upload_bom_form.html" %}
        </div>

        <div id="enter-new-part" class="form-container">
            {% include "bill_of_materials/bom_partials/enter_new_part.html" %}
        </div>

        <div id="edit-part" class="form-container">
            {% include "bill_of_materials/bom_partials/search_parts_results.html" %}
        </div>

    </div>
</div>