{% extends "module_template_html/base_template_2_0_0.html" %}

{% block title %}Database Entry{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/module_template/panel_layouts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upload_search_database/upload_search_database.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/select2/select2_v4_0_13.min.css') }}"/>
{% endblock %}

{% block sidebar %}
    {% set current_page = 'search' %}
    {% include 'module_template_html/base_sidebar.html' %}
{% endblock %}

{% block content %}
    {% include 'upload_search_database/upload_search_database_partial/upload_search_database_layout_panels_2.html' %}
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='vendor/jquery/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/select2/select2_v4_0_13.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/upload_search_database/upload_document.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload_search_database/batch_upload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload_search_database/upload_image.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload_search_database/image_upload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload_search_database/upload_powerpoint.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload_search_database/document_search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload_search_database/image_search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload_search_database/powerpoint_search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload_search_database/image_compare.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload_search_database/search_drawing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload_search_database/upload_search_database_page.js') }}"></script>
{% endblock %}